

.BG{
  width: 100%;
  position: absolute;
  z-index: -1;

}
.Main{
  position: relative;
  display: flex;

  justify-content: end;

}
.panel{

  right: 5%;
  background-color: black;
  height: 90vh;
  width: 400px;
  margin: 25px;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.panelframe{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  

}
.Footer{
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footerframe{
  padding: 2.5rem;
}
.desc{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.desctittle{
  color: #da004c;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.desctext{
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}
.contactittle{
  font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
}
.contact{
  --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.flexcontact{
  display: flex;
  gap: .5rem;
  font-size: 14px;
}
.services{
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.services img{
  width: 16rem;
  height: 4rem;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  width: 100%;
  align-items: center;
  

  
}
.serviceframe{
  height: 85%;
  width: 96%;
}
.serviceframe h1{
  --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
    font-size: 20px;
    text-align: center;
}
.questions{
  width: 95%;
}
.question{
  width: 100%;
}
.question button{
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.questiontittle{
  font-size: 18px;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.Answer{
  color: white;
  padding: 5px;
}